<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/partials :: head('Profile')"></head>
<body>

<div id="wrapper">
  <nav th:replace="/partials/partials :: nav"></nav>
  <header th:replace="/partials/partials :: header('Profile')"></header>

  <main class="container">
    <h1>THIS IS YOUR PROFILE PAGE</h1>
    <div th:each="task : ${tasks}">
      <ul>
        <li th:text="${task.title}"></li>
        <li th:text="${task.description}"></li>
        <li th:text="${task.dateCreated}"></li>
        <li th:text="${task.dateScheduled}"></li>
        <li th:text="${task.complete}"></li>
        <li th:text="${task.category.title}"></li>
      </ul>
      <!--            <a th:href="@{/posts/{id}(id=${post.id})}">View Details</a>-->
<!--      <a th:href="@{|/posts/${post.id}|}">View Details</a>-->
    </div>
  </main>

  <footer th:replace="/partials/partials :: footer"></footer>
</div>


<th:block th:replace="partials/partials :: scripts"></th:block>

</body>
</html>