<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title th:text="${'Task Manager | ' + title}"></title>
    <script type="text/javascript" th:src="@{/keys.js}"></script>
    <meta name="_csrf" data-th-content="${_csrf.token}" />
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.1/dist/sketchy/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<!--    used to have inside of class attribute : navbar-dark bg-dark-->
<div th:fragment="nav" th:remove="tag">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">Task Manager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav d-flex w-100">
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/profile"><button class="btn-link btn btn-sm">Task-Hub</button></a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link">
                            <button class="btn-link btn btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" id="editProfileBtn">
                                View Profile
                            </button>
                        </a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/task/create"><button class="btn-link btn btn-sm">Create Task</button></a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="/sign-up"><button class="btn-link btn btn-sm">Register</button></a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="/login"><button class="btn-link btn btn-sm">Login</button></a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" th:method="post" class="py-2">
                            <button class="btn-link btn btn-sm">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--        NEW Offcanvas start -->
    <div sec:authorize="isAuthenticated()">
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">

            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Profile</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <div>
                    <img th:src="${user.getProfilePic()}" alt="profile_pic" id="profile-pic-img">
                    <p th:text="${user.getUsername()}"></p>
                </div>

                <div id="invalidInput"></div>

                <hr>
<!--                <form th:action="@{|/profile/edit/${user.id}|}" method="POST" th:object="${user}" id="profile-edit-form">-->
                    <div class="form-group mb-3">
                        <label for="firstname-edit">First name</label>
                        <input id="firstname-edit" th:value="${user.firstName}" class="form-control" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="lastname-edit">Last name</label>
                        <input id="lastname-edit" th:value="${user.lastName}" class="form-control" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="username-edit">user-name</label>
                        <input id="username-edit" th:value="${user.username}" class="form-control" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="email-edit">Email</label>
                        <input id="email-edit" th:value="${user.email}" class="form-control" required>
                    </div>
                    <button class="btn btn-primary btn-sm" id="updateProfileBtn" th:data-user-id="${user.id}">Submit updated fields</button>
                    <br><span>Log in required after submittal</span>
<!--                </form>-->
                <hr>
                <div class="py-3">
                    <button type="button" id="file-stack-picBtn" class="btn btn-primary btn-sm">Choose profile picture</button>
                    <button type="button" id="default-picBtn" class="btn btn-primary btn-sm" style="display: none;">Delete profile picture</button>

                </div>
            </div>
        </div>
    </div>
    <!--            Offcanvas END-->
</div>

<header th:fragment="header(heading)">
    <h1 class="text-center display-4 my-4" th:text="${heading}"></h1>
</header>

<footer class="bg-dark mt-5" th:fragment="footer">
    <div class="container d-flex align-items-center justify-content-center py-4">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 d-flex justify-content-center">
                <div class="d-flex align-items-center">
                    <span class="text-light">Cesar Vallin</span>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
                <div class="d-flex align-items-center">
                    <a href="https://github.com/CesarVallin" target="_blank" class="text-light">GitHub</a>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
                <div class="d-flex align-items-center">
                    <a href="https://www.linkedin.com/in/cesar-vallin/" target="_blank" class="text-light">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<th:block th:fragment="scripts">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/file-picker.js}"></script>

    <script>
        (async () => {

            const updateProfile = async () => {
                const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
                const firstName = document.querySelector("#firstname-edit");
                const lastName = document.querySelector("#lastname-edit");
                const userName = document.querySelector("#username-edit");
                const email = document.querySelector("#email-edit");
                const userId = updateProfileBtn.getAttribute('data-user-id');

                const invalidUserDiv = document.querySelector("#invalidInput");


                //
                if (firstName.value === `` || lastName.value === `` || userName.value === `` || email.value === ``) {
                    invalidUserDiv.innerText = `All fields must be filled before submitting`;
                    return;
                }


                let updateProfile = await fetch(`/profile/edit/${userId}`,{
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': csrfToken,
                    },
                    body: JSON.stringify(
                        {
                            firstName: firstName.value,
                            lastName: lastName.value,
                            username: userName.value,
                            email: email.value
                        }
                    )
                });
                const returnedUser = await updateProfile.json();
                console.log(returnedUser);
                if(returnedUser.id > 0) {
                    // redirect to login
                    window.location.href = "/login";
                } else {
                    // render the returnedUser.username as our invalid message
                    invalidUserDiv.innerText = returnedUser.username;
                }
            };

            const updateProfileBtn = document.querySelector("#updateProfileBtn");
            updateProfileBtn.addEventListener("click", updateProfile);


        }) ();

    </script>

</th:block>

</body>
</html>