<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head('login')"></head>

<body>

<div id="wrapper">
    <div th:replace="partials/partials :: nav"></div>
    <header th:replace="partials/partials :: header('login')"></header>

    <main class="container">
        <div th:if="${param.error}">
            Invalid Username and Password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>

        <form th:action="@{/login}" method="post">
            <!--      adjusting form's width & center start-->
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="username">Username</label>
                            <input id="username" name="username" type="text" class="form-control" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="password">Password</label>
                            <input id="password" name="password" type="password" class="form-control" required>
                        </div>

                        <button type="submit" class="btn btn-sm">Submit</button>

                    </div>
                </div>
            <!--      adjusting form's width & center end-->
        </form>

    </main>

    <footer th:replace="partials/partials :: footer"></footer>
</div>

<th:block th:replace="partials/partials :: scripts"></th:block>

</body>
</html>

