#wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#wrapper main {
    flex-grow: 1;
}

#profile-pic-img {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
}

#dev-picture{
    max-width: 480px;
    max-height: 480px;
    width: auto;
    height: auto;
}

.landing-page-images {
    width: 100%;
    height: auto;
    display: block;
}

.landing-page-images-mobile {
    max-width: 480px;
    max-height: 480px;
    width: auto;
    height: auto;
    display: block;
}

.landing-page-images-mobile-phone-overlay {
    max-width: 222px;
    max-height: 480px;
    width: auto;
    height: auto;
}

.image-container {
    position: relative;
}
.image-container span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1px;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}
