#wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#wrapper main {
    flex-grow: 1;
}

#profile-pic-img {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.landing-page-images {
    max-width: 480px;
    max-height: 480px;
    width: auto;
    height: auto;
    display: block;
}