<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/partials :: head('Home')}"></head>
<body>

<div id="wrapper">
    <div th:replace="~{partials/partials :: nav}"></div>
    <header th:replace="~{partials/partials :: header('Task Manager')}"></header>

    <main class="container">
<!--        FIRST SECTION START -->
        <div class="row px-2 border-bottom">
            <div class="col-md-6 d-flex justify-content-center mt-5">
                <div class="image-container">
                    <span>Gain control through the Task-Hub</span>
                    <img class="landing-page-images" src="/img/first-section1.png">
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center mt-5">
                <div class="d-flex align-items-center">
                    <span>Task Manager is designed to allow you to streamline your workflow and stay organized. There are a
                        variety of features; including a kanban board like-experience, which allows you to stay organized
                        from an "In Progress" task to a "Complete" task.</span>
                </div>
            </div>
        </div>
<!--        FIRST SECTION END -->
<!--        SECOND SECTION START-->
        <div class="row px-2 border-bottom">
            <div class="col-md-6 d-flex justify-content-center mt-5">
                <div class="d-flex align-items-center">
                    <span>
                        The goal is to help you manage your
                    "tasks, projects, goals, etc..." ... with ease, organization, and structure. There are a variety
                    of features to help you manage each task. <br>The user-friendly interface and task-oriented
                    management features enable you to complete your <span
                            class=" font-weight-bold badge bg-warning rounded pill">To-Do's</span> into <span
                            class=" font-weight-bold badge bg-success rounded pill">To-Done's</span> quicker than ever.
                    </span>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center mt-5">
                <div class="image-container">
                    <span>Make it your own</span>
                    <img class="landing-page-images" src="/img/second-section.png">
                </div>
            </div>
        </div>
<!--        SECOND SECTION END-->

<!--        THIRD SECTION START -->
        <div class="row px-2 border-bottom">
            <div class="col-md-3 d-flex justify-content-center mt-5">

                <div class="marvel-device iphone-x landing-page-images-mobile-phone-overlay">
<!--                    <div class="notch">-->
<!--                        <div class="camera"></div>-->
<!--                        <div class="speaker"></div>-->
<!--                    </div>-->
                    <div class="top-bar"></div>
                    <div class="sleep"></div>
                    <div class="bottom-bar"></div>
                    <div class="volume"></div>
                    <div class="overflow">
                        <div class="shadow shadow--tr"></div>
                        <div class="shadow shadow--tl"></div>
                        <div class="shadow shadow--br"></div>
                        <div class="shadow shadow--bl"></div>
                    </div>
                    <div class="inner-shadow"></div>
                    <div class="screen">
                        <!-- Content goes here -->
                        <img class="landing-page-images-mobile" src="/img/IMG-0559.PNG">

                    </div>
                </div>

<!--                <img class="landing-page-images-mobile" src="/img/IMG-0559.PNG">-->
            </div>
            <div class="col-md-3 d-flex justify-content-center mt-5">
                <img class="landing-page-images-mobile" src="/img/IMG-0561.PNG">
            </div>
            <div class="col-md-6 d-flex justify-content-center mt-5">
                <div class="d-flex align-items-center">
                    <span>
                        Whether you're a business owner, freelancer, or just looking to stay organized, Task Manager will
                        boost your efficiency and reduce the feeling of being overwhelmed.
                    </span>
                </div>
            </div>
        </div>
<!--        THIRD SECTION END -->


        <div class="row px-2 d-flex justify-content-center">
            <!--        About me START-->
            <div class="col-md-6">
                <div class="accordion" id="meetTheDev">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDev" aria-expanded="false" aria-controls="collapseDev" onclick="scrollToAccordion()">
                                Meet The Developer
                            </button>
                        </h2>
                        <div id="collapseDev" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#meetTheDev">
                            <div class="accordion-body">
                                <ul class="list-group">
                                    <li class="d-flex justify-content-center">
                                        <img src="/img/cesar-image.jpg" id="dev-picture">
                                    </li>
                                    <li class="list-group-item list-group-item-light text-center">Cesar Vallin</li>
                                    <li class="list-group-item list-group-item-light text-center">
                                        <a href="https://github.com/CesarVallin" target="_blank">GitHub</a>
                                    </li>
                                    <li class="list-group-item list-group-item-light text-center">
                                        <a href="https://www.linkedin.com/in/cesar-vallin/" target="_blank">LinkedIn</a>
                                    </li>
                                    <li class="list-group-item list-group-item-light text-center">
                                        <span>I believe that the best line of code is the one that becomes a tool for you. <br> "Be the inexhaustible energy that seeks improvement"</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!--        ABOUT me END-->
        </div>

    </main>

    <footer th:replace="~{partials/partials :: footer}"></footer>
</div>


<th:block th:replace="~{partials/partials :: scripts}"></th:block>
<script>
    function scrollToAccordion() {
        setTimeout(() => {
            const accordion = document.getElementById("meetTheDev");
            const offset = accordion.getBoundingClientRect().top;
            window.scrollBy(0, offset - 30); // adjust 100 pixels for the fixed header
        }, 200)

    }
</script>

</body>
</html>